In [4]:
import numpy as np
import pandas as pd

In [3]:
my_data=[10,20,30]
labels=['a' , 'b' , 'c']

In [4]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data=my_data , index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(my_data , labels)

a    10
b    20
c    30
dtype: int64

In [7]:
arr=np.array(my_data)

In [8]:
arr

array([10, 20, 30])

In [9]:
pd.Series(arr , labels)

a    10
b    20
c    30
dtype: int32

In [10]:
d={
   'a' : 10 , 
    'b'  : 20 , 
    'c' : 30
}

In [11]:
d

{'a': 10, 'b': 20, 'c': 30}

In [12]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(['Mohit' , 'Raje' , 19 , 'Male' , 'B+'] ,
         ['Fname' , 'Lname' , 'age' , 'gender' , 'blood group']
         )

Fname          Mohit
Lname           Raje
age               19
gender          Male
blood group       B+
dtype: object

In [14]:
data=['Mohit' , 'Raje' , 19 , 'Male' , 'B+']
labels=['Fname' , 'Lname' , 'age' , 'gender' , 'blood group']

In [15]:
data=np.array(data)
labels=np.array(labels)

In [16]:
my_personal_data=pd.Series(data , labels)

In [17]:
ser1=pd.Series([1,2,3,4] , ['USA' , 'Germany' , 'USSR' , 'Japan'])

In [18]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [19]:
ser2=pd.Series([1,2,5,4] ,  ['USA' , 'Germany' , 'Italy' , 'Japan'])

In [20]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [21]:
ser1['USA']

1

In [22]:
ser2['Italy']

5

In [23]:
ser3=pd.Series(data=labels)

In [24]:
ser3

0          Fname
1          Lname
2            age
3         gender
4    blood group
dtype: object

In [25]:
 ser3[2]

'age'

In [26]:
ser3[0]

'Fname'

In [27]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [28]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [29]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [30]:
ser1+ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [33]:
capitals=pd.Series(data=['Dehli' , 'NY' , 'Toronto'] , index=['India' , 'USA' , 'Canada'])

In [34]:
capitals

India       Dehli
USA            NY
Canada    Toronto
dtype: object

In [35]:
capitals['India']

'Dehli'

In [36]:
capitals['USA']

'NY'

In [37]:
capitals['Canada']

'Toronto'

In [5]:
s=pd.Series(data=['Dehli' , 'Toronto' , 'Washington' , 'London'] , index=['India' , 'Canada' , 'USA' , 'UK'])

In [6]:
s

India          Dehli
Canada       Toronto
USA       Washington
UK            London
dtype: object

In [7]:
s['India']

'Dehli'

In [8]:
s['USA']

'Washington'

In [9]:
s['Canada']

'Toronto'

In [10]:
s['UK']

'London'